.card {
    border: none;
    margin-bottom: 45px;
    margin:  120px;
    padding-top: 80px;
}
.card-details {
    display:flex;
    margin: 120px;
    border-radius: 10px;
    background: linear-gradient(to bottom,#26d3d3a3 -13.92%,rgba(48,159,222,0) 229.21%);
    box-shadow: 5px 5px 11px 6px rgb(0 0 0 / 20%);

    flex-direction: column;
        /*align-content: center;
        justify-content: center;*/
        gap: 25px;
        padding: 22px;
        

        a {
            color: blue;
            text-decoration: none;
            
        }

        p, h6 {
            font-size: 2rem;
            text-align: left;
        }
        .price p {
            text-align: left;
        }
        

        .popularity {
            display: flex;
            justify-content:space-between;
            gap: 5px;
        }


        .more-info {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: flex-start;

            a, h6 {
                font-size: 1.5rem;
            }
        }

        

        .platform p  {
            text-align: right;
            font-size: 1.5rem;
        }
    
}

hr {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    .crypto-data {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .crypto-name {
            display: flex;
            gap: 10px;

            picture {
                background-color: white;
                width: 80px;
                height: 80px;
                margin-top: 15px;
                border-radius: 2px;
                img {
                    width: 75%;
                }
            }

            h3 {
                font-size: 4.5rem;
            }
        }

        .crypto-id  {
            display: flex;
            justify-content: flex-end;
            padding-right: 87px;
            /*margin-left: 26px;*/
            p {
                font-size: 2.6rem;
            }
        }

        
    }

    .crypto-img  {
        margin-right: 25px;
        img {
            width: 150px;
        }
        
    }

    
    
    
    
}

@media (max-width: 1024px) {
    .card {
        margin: 30px;
        margin-bottom: 50px;
    }
    .header {
        display: flex;
        justify-content: space-between;

        .crypto-data {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .crypto-name {
                display: flex;
                gap: 10px;
    
                picture {
                    width: 80px;
                    height: 80px;
                    margin-top: 15px;
                    border-radius: 2px;
                    img {
                        width: 75%;
                    }
                }
    
                h3 {
                    font-size: 4.5rem;
                }
            }
    
            .crypto-id  {
                display: flex;
                justify-content: flex-end;
                padding-right: 87px;
                /*margin-left: 26px;*/
                p {
                    font-size: 2.6rem;
                }
            }

            
        }

        .crypto-img  {
            margin-right: 25px;
            img {
                width: 150px;
            }
            
        }
        
        
    }

    .card-details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 25px;
        padding: 22px;
        margin: 30px;
        

        a {
            color: blue;
            text-decoration: none;
            
        }

        p, h6 {
            font-size: 3rem;
            text-align: left;
        }
        .price p {
            text-align: left;
        }
        

        .popularity {
            display: flex;
            justify-content:space-between;
            gap: 5px;
        }


        .more-info {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: flex-start;

            a, h6 {
                font-size: 2.1rem;
            }
        }

        

        .platform p  {
            text-align: right;
            font-size: 2.1rem;
        }
    }
    

}
@media (max-width: 768px) {
    .card {
        margin: 70px;
    }
    .header {
        display: flex;
        justify-content: space-between;

        .crypto-data {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .crypto-name {
                display: flex;
                gap: 10px;
    
                picture {
                    width: 80px;
                    height: 80px;
                    margin-top: 15px;
                    border-radius: 2px;
                    img {
                        width: 75%;
                    }
                }
    
                h3 {
                    font-size: 4.5rem;
                }
            }
    
            .crypto-id  {
                display: flex;
                justify-content: flex-end;
                padding-right: 87px;
                /*margin-left: 26px;*/
                p {
                    font-size: 2.6rem;
                }
            }

            
        }

        .crypto-img  {
            margin-right: 25px;
            img {
                width: 130px;
            }
            
        }
        
        
    }

    .card-details {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 25px;
        padding: 22px;
        margin: 70px;
        

        a {
            color: blue;
            text-decoration: none;
            
        }

        p, h6 {
            font-size: 2rem;
            text-align: left;
        }
        .price p {
            text-align: left;
        }
        

        .popularity {
            display: flex;
            justify-content:space-between;
            gap: 5px;
        }


        .more-info {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: flex-start;

            a, h6 {
                font-size: 1.5rem;
            }
        }

        

        .platform p  {
            text-align: right;
            font-size: 1.5rem;
        }
    }
   

}

@media (max-width: 480px) {

    
    .card {
        margin: 5px;
        margin-bottom: 50px;
    }
    .header {
        display: flex;
        justify-content: space-between;

        .crypto-data {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .crypto-name {
                display: flex;
                gap: 10px;
    
                picture {
                    width: 35px;
                    height: 35px;
                    margin-top: 0px;
                    border-radius: 2px;
                    img {
                        width: 75%;
                    }
                }
    
                h3 {
                    font-size: 1.4rem;
                }
            }
    
            .crypto-id  {
                display: flex;
                justify-content: flex-end;
                padding-right: 5px;
                /*margin-left: 26px;*/
                p {
                    font-size: 1.3rem;
                }
            }
        }
        .crypto-img  {
            margin-right: 25px;
            img {
                width: 55px;
            }
            
        }
        
    }

    .card-details {
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 25px;
        padding: 22px;

        
        
        a {
            color: blue;
            text-decoration: none;
            
        }

        

        p, h6 {
            font-size: 1.3rem;
            text-align: left;
        }
        .price p {
            text-align: left;
        }
        

        .popularity {
            display: flex;
            justify-content:space-between;
            gap: 5px;
        }


        .more-info {
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            align-items: flex-start;

            a, h6 {
                font-size: 1.1rem;
            }
        }

        

        .platform p  {
            text-align: right;
            font-size: 1.1rem;
        }
    } 

}





