<div  class="card">
    <article class="card-body">
        <section class="header">
            <div class="crypto-data">
                <div class="crypto-name">
                    <picture>
                        <img  [routerLink]="['/cryptos']" src="../../../assets/left-arrow.png" alt="left arrow">
                    </picture>
                    <h3 class="card-title">{{crypto.name}}</h3>
                </div>
                <div class="crypto-id">
                    <p class="card-subtitle mb-2 text-muted">{{crypto.id}}</p>
                </div>
            </div>
            <div class="crypto-img">
                <img  [src]=crypto.img alt="crypto image"/>
            </div>
        </section>
        <section class="card-details">
            <div class="price">
                <p class="card-text">
                    <strong>Price: </strong>{{ crypto.price | currency:'USD':true:'1.0-9' }}
                </p>
            </div>
            <div class="popularity">
                <p class="rank card-text">
                    <strong>Rank: </strong> {{crypto.rank}} 
                </p>
                <p class="score card-text">
                   <strong>Score: </strong>  {{crypto.score}}
                </p>
            </div>
            <div  class="description">
                <h6 class="card-link" class="card-text">
                   <strong>Description:</strong></h6>
                <p *ngIf="crypto.description != '' " >{{crypto.description}}</p>
                <p *ngIf="crypto.description == '' ">The description is not available</p>
            </div>
            <div class="more-info">
                <h6 class="card-link" class="card-text">
                    <strong>More information:</strong>
                </h6>
                <a [href]=crypto.coinLink1>Homepage</a>
                <a [href]=crypto.coinLink2>Blockchain Site</a>
            </div>
            <hr>
            <div class="platform">
                <p *ngIf="crypto.description != '' " >{{crypto.coinPlatform[0]}}</p>
                <p *ngIf="crypto.description == '' ">The platform is not available</p>
            </div>
        </section>
    </article>
</div>

