/*You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
/*
@font-face {
    font-family: "Interbold";
    src: local("Interbold"), url(./assets/fonts/FontsFree-Net-Inter-Bold.ttf) format("truetype");
}*/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
    /*background-color: #f4fbff;*/
}
